root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.sh]
indent_style = space
indent_size = 2
shell_variant = bash

[*.{rs,nix,toml,yaml,yml,json,md,js,ts}]
indent_style = space
indent_size = 2
